<p id="notice"><%= notice %></p>
<h1>Bids for <%= @product.name %></h1>

<table class="bids-table-<%= @product.id %> table table-bordered">
  <thead>
    <tr>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= bid.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bid', new_product_bid_path(@product), class: "btn btn-success" %>
<%= link_to 'Products Page', products_path, class: "btn btn-default" %>
