<p id="notice"><%= notice %></p>
<h1>Pujas por <%= @product.name %></h1>

<table class="bids-table-<%= @product.id %> table table-bordered">
  <thead>
    <tr>
      <th>Precio</th>
      <th>Quién</th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= number_to_currency(bid.value, precision: 0) %></td>
        <td>
          <%= bid.bidder_name %>
          <% if bid.winner == true %>
            <span class="badge">Ganador
          <% end %>
        </td>
        <% if session[:admin] == true %>
          <td><%= link_to 'Ganadora', [@product, bid], method: :patch, class: "btn btn-success" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless @product.bids.winners.count > 0 %>
  <%= link_to 'Nueva puja', new_product_bid_path(@product), class: "btn btn-success" %>
<% end %>
<%= link_to 'Inventario', products_path, class: "btn btn-default" %>
