<p id="notice"><%= notice %></p>

<h1>Inventario disponible</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= link_to 'Ver item', product, class: "btn btn-primary" %></td>
        <td><%= link_to 'Ver pujas', product_bids_path(product), class: "btn btn-success" %></td>
        <!-- <td><#%= link_to 'Editar', edit_product_path(product), class: "btn btn-warning" %></td> -->
        <!-- <td><#%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Item', new_product_path, class: "btn btn-primary" %>
